body{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
#main-container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}
#main-menu{
    background-color: aquamarine;
    height: 100px;
}
#login{
    padding-top: 30px;
}
#loginFail{
    display: none;
    color: red;
}

#content-body{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content{
    width: 60%;
    text-align: center;
}
#footer{
    background-color: #1c2431;
    height: 30%;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}
.sub-button{
    width: 100px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.sub-button:hover{
    background-color: aquamarine;
    border: none;
    color: #1c2431;
    font-weight: bolder;
    font-size: larger;
}
audio{
    width: 100%;
}
.player-control{
    color: #C3A9FF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
}
#pause-btn{
    text-align: right;
}
#player-footer{
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: auto;
    background-color: #C3A9FF;
    display: flex;
    align-content: center;
    width: 100%;
    height: 10%;
    margin: auto;
    gap: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
}
#music-player{
    width: 60%;
}
.player-section{
    display: flex;
    gap: 5px;
}
#song-selection{
    padding-bottom: 100px;
}
.toggle{
    display: none;
}
#searchResults{
    display: none;
}